---
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import Hero from "../components/Hero.astro";
import CallToAction from "../components/CallToAction.astro";

// Page section components
import ContactCTA from "../components/ContactoCTA.astro";
import Servicios from "../components/Servicios.astro";
import PorQue from "../components/PorQue.astro";
import Pasos from "../components/Pasos.astro";
import Planes from "../components/Planes.astro";
import Trabajos from "../components/Trabajos.astro";

import Image from "astro/components/Image.astro";
import muestragif from "../images/capture-oriol-efrank-450-opt.gif";
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero">
        <Hero
          title="¡Lanza tu sitio web rápidamente!"
          tagline="Me encargo de desarrollar tu idea, simple, eficiente y personalizado para ti"
          align="start"
        >
          <!-- <div class="roles">
            <Pill><Icon icon="code" size="1.33em" /> Desarrollador</Pill>
            <Pill><Icon icon="pointer" size="1.33em" /> Webmaster</Pill>
            <Pill><Icon icon="chalkboard" size="1.33em" /> Facilitador</Pill>
          </div> -->

          <CallToAction href="/#planes" clases="start">
            Comienza ahora
          </CallToAction>
        </Hero>

        <Image
          src={muestragif}
          alt="Muestra diseño web en Wordpress"
          width="500"
          height="349"
        />
      </header>
    </div>

    <PorQue />

    <Pasos />

    <Planes />

    <Trabajos />

    <Servicios />

    <ContactCTA />
  </div>
</BaseLayout>
