---
import Icon from "./Icon.astro";
---

<section class="box about" id="about">
   <div class="stack gap-2 lg:gap-4">
      <h3>BIT ABOUT ME</h3>
      <p>
         I'm an enthusiast of technology, especially web technologies. I'm a
         Computer Engineer based in Venezuela, I am IT Specialist and freelance
         Web Developer.
      </p>
      <p>
         I offer my services as Web Designer, for development of personal,
         corporate, blog and organizational websites with striking and SEO
         design. I've worked as webmaster for several web portals and
         foundations, web designer and IT administrator for over 10 years.
      </p>
      <p>Welcome to my website!</p>
   </div>

   <div class="stack gap-2 lg:gap-4">
		<img
         width="1553"
         height="873"
         src="/assets/frank-gig.jpg"
         alt="Jeanine White at work with a colleague"
      />
	</div>
</section>


<style>
   .box {
      border: 1px solid var(--gray-800);
      border-radius: 0.75rem;
      padding: 1.5rem;
      background-color: var(--gray-999_40);
      box-shadow: var(--shadow-sm);
   }
   
   img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

   .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
   }

   .about h3 {
      font-size: var(--text-4xl);
   }

   .about p {
      color: var(--gray-400);
   }

   @media (min-width: 50em) {
      .box {
         border-radius: 1.5rem;
         padding: 2.5rem;
      }

      .about {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 5rem;
      }

      .about h2 {
         font-size: var(--text-2xl);
      }
   }
</style>
