---
import Icon from "./Icon.astro";
---

<div class="wrapper stack">
  <section class="section with-background">
    <header class="section-header stack gap-2 lg:gap-4">
      <h3>Comienza ya, en 3 pasos</h3>
      <p>Te acompaño en todo el proceso, no hace falta experiencia</p>
    </header>
  </section>

  <section class="box skills">
    <div class="stack gap-2 lg:gap-4">
      <Icon
        icon="number-square-one"
        color="var(--accent-overlay)"
        size="2.5rem"
        gradient
      />
      <h2>Empieza con un <a href="#planes">clic</a></h2>
      <p>Elige la opción que mejor se adapte a tus necesidades. Haciendo clic en los <a href="#planes">planes</a></p>
    </div>

    <div class="stack gap-2 lg:gap-4">
      <Icon
        icon="number-square-two"
        color="var(--accent-regular)"
        size="2.5rem"
        gradient
      />
      <h2>Personalización a la Medida</h2>
      <p>
        Selecciona tus colores y estilo, y yo me encargaré del resto. Estoy aquí
        para hacer que tu visión cobre vida.
      </p>
    </div>

    <div class="stack gap-2 lg:gap-4">
      <Icon
        icon="number-square-three"
        color="var(--accent-regular)"
        size="2.5rem"
        gradient
      />
      <h2>Vende desde cualquier parte</h2>
      <p>
        Es el momento de lanzar tu sitio web. Disponible en todo momento y en
        cualquier lugar.
      </p>
    </div>
  </section>
</div>
