---
import Icon from "./Icon.astro";
---

<div class="wrapper stack">
  <section class="section with-background">
    <header class="section-header stack gap-2 lg:gap-4">
      <h3>¿Por qué necesitas tener un sitio web?</h3>
    </header>
  </section>


    <section class="box skills">
      <div class="stack gap-2 lg:gap-4">
        <Icon icon="globe" color="var(--accent-regular)" size="2.5rem" gradient />
        <h2>Visibilidad y alcance global</h2>
        <p>
          Un sitio web te permite llegar a una audiencia más amplia, sin
          limitaciones geográficas. Es tu carta de presentación al mundo y la
          mejor manera de mostrar tus productos, servicios y valores a potenciales
          clientes en cualquier lugar y en cualquier momento.
        </p>
      </div>
      <div class="stack gap-2 lg:gap-4">
        <Icon
          icon="medal"
          color="var(--accent-regular)"
          size="2.5rem"
          gradient
        />
        <h2>Credibilidad y profesionalismo</h2>
        <p>
          Tener un sitio web bien diseñado y actualizado te da una imagen
          profesional y confiable. Los clientes tienden a confiar más en negocios
          con presencia en línea, ya que demuestra seriedad y compromiso con su
          marca.
        </p>
      </div>
      <div class="stack gap-2 lg:gap-4">
        <Icon
          icon="storefront"
          color="var(--accent-regular)"
          size="2.5rem"
          gradient
        />
        <h2>Disponibilidad 24/7:</h2>
        <p>
          A diferencia de una tienda física, tu sitio web está disponible para los
          usuarios las 24 horas del día, los 7 días de la semana. Esto significa
          que puedes generar ventas, captar leads y brindar información incluso
          fuera del horario laboral.
        </p>
      </div>
    </section>


</div>

